[Desktop Entry]
Name=cats-pc-03@enp14s0
Exec=pkexec macchanger --mac=18:a9:05:47:ab:a3 enp14s0
Terminal=false
Type=Application
Icon=/usr/share/icons/gnome/scalable/status/network-wired-symbolic.svg
